<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="com.yomahub.flowtest.components" />

	<bean id="springAware" class="com.yomahub.liteflow.util.SpringAware"/>

	<bean class="com.yomahub.liteflow.spring.ComponentScanner"/>

	<bean id="liteflowConfig" class="com.yomahub.liteflow.property.LiteflowConfig">
		<property name="ruleSource" value="config/flow.xml"/>
		<property name="slotSize" value="2024"/>
		<property name="whenMaxWaitSeconds" value="20"/>
		<property name="enableLog" value="true"/>
		<property name="queueLimit" value="100"/>
		<property name="period" value="5000"/>
		<property name="delay" value="5000"/>
		<property name="whenMaxWorkers" value="3"/>
		<property name="whenQueueLimit" value="512"/>
	</bean>

	<bean id="flowExecutor" class="com.yomahub.liteflow.core.FlowExecutor">
		<property name="liteflowConfig" ref="liteflowConfig"/>
	</bean>
	
	<bean class="com.yomahub.liteflow.monitor.MonitorBus">
		<property name="liteflowConfig" ref="liteflowConfig"/>
	</bean>

	<bean id="whenExecutors" class="com.yomahub.liteflow.util.Shutdown"/>

</beans>
