<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%p] %m  >> %c:%L%n"/>
        </layout>
    </appender>
    <appender name="fileout" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="./logs/commdata.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%p] %m  >> %c:%L%n"/>
        </layout>
    </appender>
    <appender name="asyncStdout" class="org.apache.log4j.AsyncAppender">
    	<param name="BufferSize" value="8192"/>
        <appender-ref ref="stdout"/>
    </appender>
    <appender name="asyncFileout" class="org.apache.log4j.AsyncAppender">
    	<param name="BufferSize" value="8192"/>
        <appender-ref ref="fileout"/>
    </appender>
    <root>
        <priority value="info" />
        <appender-ref ref="asyncStdout"/>
        <appender-ref ref="asyncFileout"/>
    </root>
</log4j:configuration>