<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">
 
 	<context:component-scan base-package="com.thebeastshop.liteflow.test.component" />
 	<bean class="com.thebeastshop.liteflow.spring.ComponentScaner"/>
 	
 	<!-- 本地方式配置 -->
 	<bean id="flowExecutor" class="com.thebeastshop.liteflow.core.FlowExecutor">
		<property name="rulePath">
			<list>
				<value>config/flow.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 这种是zk方式配置 -->
	<!-- <bean id="flowExecutor" class="com.thebeastshop.liteflow.core.FlowExecutor">
		<property name="rulePath">
			<list>
				<value>123.206.92.144:2181,123.206.92.144:2182,123.206.92.144:2183</value>
			</list>
		</property>
		<property name="zkNode" value="/lite-flow/customFlow"/>这个不配置就用默认的/lite-flow/flow节点
	</bean> -->
</beans>